<!doctype html>
<html lang="id" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p><span th:text="${name}"></span>!</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquid aspernatur beatae consectetur dolores enim est, impedit iste maxime minus modi necessitatibus nisi rem saepe temporibus unde vel vero!</span></p>
</body>
</html>